 
 <div style="text-align:center">
 	<h1>
    Welcome!
  </h1>
 <a routerLink="/owner"> <button mat-raised-button class='btn1'> Owner Page</button></a><br>
 <a routerLink="/cashier"> <button mat-raised-button class="btn2" >  Cashier Page</button></a>
</div>