.example-full-width1 {
	position: relative;
	left: -40px;
  width: 35%;
}

.example-full-width2 {
  position: relative;
	left: 50px;
  width: 35%;
}

.btn{
	position: relative;
    top: 20px;
    border: none;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background-color: #3F3F3F;
    color: white;

}