<!--The content below is only a placeholder and can be replaced.-->
<form (ngSubmit)="onClick()">
<div style="text-align:center">
  <mat-card class='wall'>
  <h1>
    Casher !
  </h1>
  <mat-form-field class="example-full-width1">
    <input matInput placeholder="Cost" type="text" name="password" [(ngModel)]="change.cost">
  </mat-form-field>

  <mat-form-field class="example-full-width2">
    <input matInput placeholder="Paid" type="text" name="text" [(ngModel)]="change.paid">
  </mat-form-field>
  
  <h3>The Change : {{chan}}</h3>
  <br>
  <button mat-raised-button class="btn" (click)="onClick()">Calculate</button>
  <br>
  <br>
  <button mat-raised-button class="btn" (click)="onClick()">Save</button>
  <br>
  <br>
</mat-card>

</div>
</form>