<!--The content below is only a placeholder and can be replaced.-->
<form (ngSubmit)="addCasher()">
<div style="text-align:center">
	<h1>Owner</h1>
<mat-form-field>
  <mat-select [(value)]="selected" (click)='test()'>
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>
</div>
</form>