<!--The content below is only a placeholder and can be replaced.-->

<form (ngSubmit)="onClick()">
<div style="text-align:center">
<mat-card class='wall'>
  <h1>
    Login!
  </h1>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" type="email" name="text" [(ngModel)]="User.username">
  </mat-form-field>
  <br>
  <button mat-raised-button class="btn" (click)="onClick()">Submit</button>
  <br>
  <br>
</mat-card>


</div>
</form>
